@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
.bootconf-main {
  background-color: #4fadb5;
  color: white;
  font-family: "Roboto Slab";
  font-size: 16pt;
}
.bootconf-main h1,
.bootconf-main h2 {
  color: white;
  font-weight: bold;
  font-size: 20pt;
}
.bootconf-main a {
  color: #94f6ff;
}
