<!--Newsletter Area Start-->
<div class="newsletter-area">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <div class="newsletter-content">
          <h3>SUBSCRIBE</h3>
          <h2>TO OUR NEWSLETTER</h2>
        </div>
      </div>

      <div class="col-md-7 col-sm-7">
        <div class="newsletter-form angle">
          <form action="//techmill.us8.list-manage.com/subscribe/post?u=1653492a9dbf5e49c27ed87e1&amp;id=da7b51404b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="subscribe-form">
              <input id="mc-email" type="email" name="email" placeholder="Enter your email address...">
              <button id="mc-submit" type="submit">SUBSCRIBE</button>
            </div>    
          </form>
          <!-- mailchimp-alerts Start -->
          <div class="mailchimp-alerts text-centre fix pull-right">
            <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
            <div class="mailchimp-success"></div><!-- mailchimp-success end -->
            <div class="mailchimp-error"></div><!-- mailchimp-error end -->
          </div>
          <!-- mailchimp-alerts end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Newsletter Area-->
<!--Footer Widget Area Start-->
<div class="footer-widget-area">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="single-footer-widget">
          <div class="footer-logo">
            <a href="/"><img src="/assets/img/logo/footer.png" alt=""></a>
          </div>
          <p>There are many variations of passg of Lorem Ipsum available, but thmajority have suffered altem, </p>
          <div class="social-icons">
            {% if site.facebook_username %}
            <a href="https://facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook"></i></a>
            {% endif %}
            {% if site.twitter_username %}
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
            {% endif %}
            {% if site.github_username %}
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github"></i></a>
            {% endif %}
            {% if site.soundcloud_username %}
            <a href="https://soundcloud.com/{{ site.soundcloud_username }}" target="_blank"><i class="fa fa-soundcloud"></i></a>
            {% endif %}
            <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss"></i></a>
            <a href="{{ site.email | prepend: "mailto:" }}"><i class="fa fa-support"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="single-footer-widget">
          <h3>GET IN TOUCH</h3>
          <span><i class="fa fa-envelope"></i>{{ site.email }}</span>
          <span><i class="fa fa-globe"></i>{{ site.url }}</span>
          <span><i class="fa fa-map-marker"></i>{{ site.address }}</span>
        </div>
      </div>
      <div class="col-md-3 hidden-sm">
        <div class="single-footer-widget">
          <h3>Useful Links</h3>
          <ul class="footer-list">
            <li><a href="#">Teachers &amp; Staff</a></li>
            <li><a href="#">Our Courses</a></li>
            <li><a href="#">Courses Categories</a></li>
            <li><a href="#">Support</a></li>
            <li><a href="#">Terms &amp; Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4">
        <div class="single-footer-widget">
          <h3>Instagram</h3>
          <div class="instagram-image">
            <div class="footer-img">
              <a href="#"><img src="/assets/img/footer/1.jpg" alt=""></a>
            </div>
            <div class="footer-img">
              <a href="#"><img src="/assets/img/footer/2.jpg" alt=""></a>
            </div>
            <div class="footer-img">
              <a href="#"><img src="/assets/img/footer/3.jpg" alt=""></a>
            </div>
            <div class="footer-img">
              <a href="#"><img src="/assets/img/footer/4.jpg" alt=""></a>
            </div>
            <div class="footer-img">
              <a href="#"><img src="/assets/img/footer/5.jpg" alt=""></a>
            </div>
            <div class="footer-img">
              <a href="#"><img src="/assets/img/footer/6.jpg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End of Footer Widget Area-->
<!--Footer Area Start-->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-7">
        <span>Copyright &copy; TechMill {{ site.time | date: '%Y' }}. All rights reserved.</span>
      </div>
      <div class="col-md-6 col-sm-5">
        <div class="column-right">
          <span>Privacy Policy , Terms &amp; Conditions</span>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End of Footer Area-->
