block header
  #home.headerwrap(name='home')
    header.clearfix
      p: img.header-logo(src='/image/techmill_logo_1.png', alt='TechMill Denton', title='TechMill Denton')
      p= locals.description
