block header
  #home.headerwrap(name='home')
    header.clearfix
      a(href='http://igg.me/at/cowork-denton', target='_blank')
        p.fund
          ='Fund'
          img.letters(src='/image/cowork-denton-letters.png')
          ='on'
          img.indiegogo(src='/image/indiegogo.png')
      p: img.header-logo(src='/image/techmill_logo_1.png', alt='TechMill Denton', title='TechMill Denton')
      p= locals.description
