br
br
.row
  h1.centered INITIATIVES
  hr
  br

  div(class='col-md-offset-2 col-md-4')
    +image-popup-button('/image/portfolio/coworkdenton.png', 'COWORK DENTON',
                        'http://igg.me/at/cowork-denton', 'Indiegogo')

  div.col-md-4
    +image-popup-button('/image/portfolio/bootconf.png', 'BootConf 2015',
                        'http://bootconf.co', 'Bootstrap')
