block navbar-links
  - var navbarLinks = [{'Home': '/'}];

block navbar
  #navbar-main
    div(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
      .container-fluid
        a.navbar-logo: img(src='/image/techmill_logo_1.png')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        div(class='navbar-collapse collapse')
          ul(class='nav navbar-nav')
            each link in navbarLinks
              - var key = Object.keys(link)[0];
              - var href = link[key];
              li: a.smoothScroll(href=href)= key
