<!DOCTYPE html>
<html>
{% include head.html %}

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
  <!--Main Wrapper Start-->
  <div class="as-mainwrapper">
  	<!--Bg White Start-->
		<div class="bg-white">
	    {% include header2.html %}
	    
	    {{ content }}

	    {% include footer.html %}

		</div> <!--End of Bg White--> 
	</div> <!--End of Main Wrapper Area--> 

  <!-- Scripts -->
  {% include scripts.html %}
</body>

</html>
